BOT_TOKEN="your_telegram_bot_token"
ANKETOLOG_TOKEN="your_anketolog_token"
ALLOWED_USERNAMES="username1,username2"
PROXY=""

# Названия анкет разделяются символом |. Пустое значение отключает программу.
LECTURE_SURVEYS="Культурно-просветительская лекция для студентов  2026 год"
LECTURE_SURVEY_FOLDER="Мои анкеты/Академия Меганом 2026/КСР/Лекции для студентов (вузы)"
FOK_SURVEYS="ФОК КСР Встреча мэтра в сфере культуры с молодыми участниками форума"
FOK_SURVEY_FOLDER="Мои анкеты/Академия Меганом 2026/КСР/Лекции для студентов (вузы)"
MASTERY_SURVEYS="Культура мастерства до программы 2026|Культура мастерства итоговый 2026"
MASTERY_SURVEY_FOLDER="Мои анкеты/Академия Меганом 2026/КСР/Культура мастерства"
